* {
	margin: 0;
	padding: 0;
}


body {
	font-family: arial, sans-serif;
	margin: 3em;
	margin-top: 0;
	background: #666;
	color: #fff;
	
}

@media only screen and (max-width: 760px) {
	body {
	margin-left: 0;
	margin-right: 0;
	}
}