@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kalam&display=swap');

div img.add {
	padding-right: 0.5em;
	content:url("/add-icon.png");	
}

div img.save {
	padding-right: 0.5em;
	content:url("/valid-icon.png");	
}

div img.add, div img.save:hover{
	cursor: pointer;
}

ul.sticky {	
	padding: 3em;	
}

ul.sticky, li {
	list-style: none;
}

ul.sticky li div {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 13em;
	width: 12.5em;
	padding: 1em;
	padding-top: 0.5em;
	-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
}

ul.sticky li{
	margin: 1em;
	float: left;
}

ul.sticky li:nth-child(even) div{
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg); 
	-moz-transform: rotate(4deg); 
	position: relative;
	top: 5px;
	background: #cfc;
}

ul.sticky li:nth-child(3n) div{
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	position: relative;
	top: 5px;
	background: #ccf;
}

ul.sticky li:nth-child(5n) div{
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	top: -10px;
}

ul.sticky li div:hover, ul.sticky li div:focus {
	-moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	position: relative;
	z-index: 5;
}

ul.sticky li img.del {
	float: right; 
	width: 26px; 
	padding: 0;
	margin: 0;
	display: block;
	margin-right: -0.5em;
	content:url("/cancel-icon.png");
}

ul.sticky li img:hover{
	cursor: pointer;
}

ul.sticky li textarea {
	height: 6em;
	width: 100%;
	font-family: 'Caveat', cursive;
	font-size: 150%;
	resize: none;
	overflow: hidden;
	background: transparent;
	border: 0;
}

ul.sticky li .title {
	width: 100%;
	background: transparent;
	border: 0;	
	font-family: 'Kalam', cursive;
	font-size: 160%;
	font-weight: bold;
	padding-top: 4px;
}